*{
    font-family: 'Roboto Slab', serif;
    color: white;
}
.container{
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
}

/* --------- HEADER ----------- */

header{
    display: flex;
    align-items: center;
    justify-content: center
}
hr{
    display: inline-block;
    width: 35%;
    height: 1px;
    border: 1px solid var(--text);
}
header hr:nth-child(1){
    width: 30%;
}

header .logo{
    margin: 10px 0 ;
    width: 40%;
    max-width: 300px;
}
header .menu{
    align-self:flex-start;
    width: 13%;
    margin-left: 2%;
    height:150px;
    background-color: #3C3B3B;
    border-radius: 0 0 15px 15px;
}
header .menu h2{
    color: var(--text);
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
}
header hr:nth-child(3){
    width: 15%;
}

/* ------ CATEGORY ---------- */
.category{
    margin-bottom: 1.5rem;
}
.categoryName{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.categoryName h3{
    margin-left: 1rem;
    font-weight: 500;
    letter-spacing:12px;
    font-size: 36PX;
}
.categoryName i{
    font-size: 54px;
    text-align: center;
}
.categoryName h3,
.categoryName i{
    color: var(--text);
}

/*------- ITEM MENU-------- */
.menuItem {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5rem;
}
main .menuItem .image{ 
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0);
}
main .menuItem .image img{ 
    width: 100%;
    height: 100%;
    object-fit:cover;
    padding: 3px;
    border: 2px solid var(--text);
}
main .menuItem .image.trudel{
    width: 90px;
    height: 120px;
}
main .menuItem .image.trudel img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 20%;
}
main .menuItem .image.adittional{
    width: 105px;
    height: 80px;
}
main .menuItem .image.adittional img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
main .menuItem .image.icecream{
    width: 105px;
    height:105px;
}
main .menuItem .image.icecream img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.menuItem .item {
    margin-left: 0.5rem;
    align-items:flex-start ;
}
.menuItem .item .itemName p{
    font-size: 26px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    min-width: 350px;
}
.menuItem .item .description{
    width: 350px;
    height: 90px;
    background-image: url('./assets/Menu/caixaTexto.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
.menuItem .item .description p{
    padding-left: 10px;
    padding-right: 4px;
    margin-top: 12px;
    font-size: 18px;
    text-shadow: none;
    text-align: center;
}
.menuItem .price{
    margin-left: 0.5rem;
    font-size: 32px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}



/*----- RESPONSIVE ------ */

@media  (max-width:650px){
    hr{
        display: none;
    }
    header .logo {
        min-width: 150px;
        margin: 0 120px 0 0;
    }
    .categoryName h3{
        margin-left: 1rem;
        font-weight: 500;
        letter-spacing:12px;
        font-size: 24PX;
    }
    .categoryName i{
        font-size: 54px;
        text-align: center;
    }
    main .menuItem .image.adittional{
        width: 90px;
        height: 60px;
    }
    main .menuItem .image.icecream{
        width: 90px;
        height:90px;
    }
    .menuItem .item .itemName p{
        font-size: 18px;
        min-width: 150px;
        width: 150px;
        line-height: 18px;
    }
    .menuItem .item .itemName p span{
        font-size: 10px;
        line-height: 10px;
    }
    .menuItem .item .description{
        width: 170px;
        height: 90px;
        background-image: url('./assets/Menu/caixaTextoMobile.png');
        background-position: center;
        background-size:contain;
        background-repeat: no-repeat;
        padding: 6px 4px 0 0 ;
        /* border: 1px solid var(--text);
        background-color: rgba(39, 37, 37, 0.4);
        background-image: none;
        margin: 6px 0 10px 0 ;
        border-radius: 4px; */
    }
    .menuItem .item .description p{
        font-size: 12px;
        margin-top: 0;
    }
   
    .menuItem .price{
        margin-left: 0.5rem;
        font-size: 16px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        text-align: center;
        
    }
    header .menu h2{
        writing-mode: vertical-rl;
        text-orientation: upright;
        color: var(--text);
        font-family: 'Amatic SC', cursive;
        font-size: 32px;
        line-height: 0;
        letter-spacing: -8px;
    }
}